sudo: false
language: python
matrix:
  include:
  - python: 3.6
    env: TOX_ENV=py36
  - python: 3.5
    env: TOX_ENV=py35
  - python: 2.7
    env: TOX_ENV=py27
install:
- pip install tox
script:
- tox -e $TOX_ENV
before_cache:
- rm -rm $HOME/.cache/pip/log
cache:
  directories:
  - "$HOME/.cache/pip"
deploy:
  provider: pypi
  user: shopkeep
  password:
    secure: EB440Mq1NYLIr48ybqRyXL0Um2KW/2IzWZCKK1oOa7MYPltALaxF9ZrkQgksvMbQe7l51NhYEwRlnBYhzXIHyd2BRCpbcdnJdl3003aG6BOqLLBeVrsCPloV49DiInF0G6EcuHTZAONaNfqkWMW/yemYxcfNsnICbuuYKZ0i8pgg+vSy0AVvKG4ojVFdIi8xFZaMAXBKaj/HzZtT24DgO8EBfPAhTy4DgrAhEJYQWuPaNWwhZk6Y2CLHBS3SUwTuryFg7FBtA21WZ2NSepfhQYj2yoG3Q5zsNQovLBRHqMe2UX2ZY6Izbmso2yxF4jCckZgWFPEK+hiCjdTDeZWDAdWB9C16bdldY+KB9m8fMf/049017wGK8tkQFe9VRBNDROuFBK5GYOjLJcApIKg4LQcqxvZBJMss16PFfGLsCFU2PdZGoINx3cagmFGybyJBRjv8UXR9lolxxjLH0o6+BN0JC2ZfDXN4MC966Ug58nyHZQQKbNZlh069mtrO5KUDGsT8b7hAZc12bsxBMnQOJDeh7sZiUEjCMs1sBeFWm+lc8RXI5A7X4+AAXZbn2+xBmK5YO8zBOCvbpH/lJvgW7IH8LM15iNLOiB5I/mg9gmlw1eMiRZhg9i58gWA5lrSrjUdvPJEMuhSimrkc8Mj3f5u5K5D8/4KyxXJe5gi86m8=
  on:
    tags: true
